body{
    margin-top: 25px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 150px;
    background: white;
    text-align: left;
    font-family: Helvetica;
    font-size: medium;
}